<h1></h1>
<br>
<style type="text/css">
  form input{
    color: black !important;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('#firstcarousel, #secondcarousel').carousel({
        interval: false
    });    
});
</script>


<h2>Lost pets</h2>
<div class="container">
    <div class="row" id="firstcarousel" >
      <div class="col-md-12">
                  <div class="carousel slide">
                  <div class="carousel-inner">
                  <% @lost_pets.each_slice(4) do |four_lost_pets| %>
                  <div class="item">
                    <div class="row">
                      <% four_lost_pets.each do |lost_pet| %>
                      <% if lost_pet.images.first.online_url != "" %>
                      <div class="col-md-3"><a href="/pets/<%= lost_pet.id %>" class="thumbnail"><img src="<%= lost_pet.images.first.src %>" alt="Image" class="img-fluid"></a>
                      </div>
                      <% else %>
                      <div class="col-md-3"><a href="/pets/<%= lost_pet.id %>" class="thumbnail"><img src="https://3.bp.blogspot.com/-PpjfsStySz0/UF91FE7rxfI/AAAAAAAACl8/092MmUHSFQ0/s1600/no_image.jpg" alt="Image" class="img-fluid"></a>
                      </div>  
                      <% end %>                      
                  <% end %>
                    </div>
                  </div>  
                  <% end %>

                   
                  </div><!--.carousel-inner-->

                    <a data-slide="prev" href="#firstcarousel" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#firstcarousel" class="right carousel-control">›</a>
                  </div><!--.Carousel-->
                   
      </div>
  </div>
</div>  
<br>
<br>



<h2>Found Pets</h2>
<div class="container">
    <div class="row" id="secondcarousel" >
      <div class="col-md-12">
                <div class="carousel slide">               
                <div class="carousel-inner">
                <% @found_pets.each_slice(4) do |four_found_pets| %>
                <div class="item">
                  <div class="row">
                    <% four_found_pets.each do |found_pet| %>
                      <% if found_pet.images.first.online_url != "" %>
                      <div class="col-md-3"><a href="/pets/<%= found_pet.id %>" class="thumbnail"><img src="<%= found_pet.images.first.src %>" alt="Image" class="img-fluid"></a>
                      </div>
                      <% else %>
                      <div class="col-md-3"><a href="/pets/<%= found_pet.id %>" class="thumbnail"><img src="https://3.bp.blogspot.com/-PpjfsStySz0/UF91FE7rxfI/AAAAAAAACl8/092MmUHSFQ0/s1600/no_image.jpg" alt="Image" class="img-fluid"></a>
                      </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>  
                <% end %>

                <!-- style="max-width:100%;" -->

                 
                </div><!--.carousel-inner-->

                  <a data-slide="prev" href="#secondcarousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#secondcarousel" class="right carousel-control">›</a>
                </div><!--.Carousel-->
                 
      </div>
    </div>

</div><!--.container-->

<% @found_pets.each do |found_pet| %>
  <p><%= found_pet.id %></p>
  <p><%= found_pet.images.first.url_file_name %></p>
  <img src="<%= found_pet.images.first.src %>" alt="Image" style="max-width:100%;">
<% end %>

    <p><%= @pets %></p>
      <%= form_tag "/pets", method: "get" do %>
      Animal:
      <select name="form_animal">
        <option value="dog">dog</option>
        <option value="cat">Cat</option>
      </select>
      Breed: <input type="text" name="form_breed">
      Color: <input type="text" name="form_color">
      City: <input type="text" name="form_city">
      State: <input type="text" name="form_state">
      Neighborhood: <input type="text" name="form_neighborhood">
      <input type="submit" value="Submit">
      <% end %>

 <br>
 <br>
 