<img src="<%= @pet.images.first.url %>" style="max-width: 75%">
<h1>User id</h1>
<h2><%= @pet.user_id %></h2>
<h2>Lost or found: <%= @pet.lost_or_found %></h2>
<p>Name: <%= @pet.name %></p>
<p>Animal: <%= @pet.animal %></p>
<p>Breed: <%= @pet.breed %></p>
<p>Color: <%= @pet.color %></p>
<p>City: <%= @pet.city %></p>
<p>State: <%= @pet.state %></p>
<p>Neighborhood: <%= @pet.neighborhood %></p>
<p>Description: <%= @pet.description %></p>
<p>Time: <%= @pet.time %></p>

<div>
  <a href="/pets">Return to all pets</a>
</div>
<div>
  <a href="/pets/<%= @pet.id %>/edit">Edit this pet</a>
</div>
<%= form_tag "/pets/#{@pet.id}", method: "delete" do %>
  <input type="submit" value="Destroy pet">
<% end %>