    <section id="portfolio-top" class="portfolio-project pad-top-60">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="portfolio-project-media">
              <% if @pet.images.first %>
              <img src="<%= @pet.images.first.online_url %>" class="img-fluid" alt="portfolio">
              <% end %> 
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <ul class="portfolio-project-info">
                <li>Pet Name: <span> <%= @pet.name ? @pet.name : "Unknown" %></span>
                </li>
                <li>created by: <span> <%= @pet.user.name %></span>
                </li>
                <li>breed: <span> <%= @pet.breed %></span>
                </li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <ul class="portfolio-project-info">
                <li>created at: <span>  <%= @pet.created_at %></span>
                </li>
                <li>color: <span>  <%= @pet.color %></span>
                </li>
                <li>city: <span> <%= @pet.city %></span>
                </li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <ul class="portfolio-project-info">
                <li>state: <span><%= @pet.state %></span>
                </li>
                <li>neighborhood: <span><%= @pet.neighborhood %> </span><!-- <a href="#"><i class="icon-facebook"></i></a> <a href="#"><i class=" icon-dribbble "></i></a> <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-googleplus"></i></a> <a href="#"><i class="icon-linkedin"></i></a> -->
                </li>
                <li>user e-mail: <span><%= @pet.user.email %></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Project Title -->
            <h4 class="portfolio-project-title">project details</h4>
            <!-- Project body text -->
            <div class="portfolio-project-details">
              <p>
                 <span><%= @pet.description %></span>
                
              </p>
             
            </div>
            <!--/ End Portfolio details text -->
            <!-- <nav class="article-nav row">
              <a href="#ignore-click" class="article-nav-link col-sm-6">
                <i class="arrow_carrot-2left"></i>
                <p>previous
                  <br> project
                </p>
              </a>
              <a href="#ignore-click" class="article-nav-link col-sm-6">
                <p>next
                  <br> project
                </p>
                <i class=" arrow_carrot-2right"></i>
              </a>
            </nav> -->
            <!-- End Comments -->
            <!-- Add Comment -->
            <div id="end-content"></div>
          </div>
          <!--/ End col -->
          <!--/ End col -->
        </div>
        <!--/ End row -->
      </div>
      <!--/ End container -->
    </section>

<div>
  <a href="/pets"><b>Return to all pets<b></a>
</div>
<!-- <div>
  <a href="/pets/<%= @pet.id %>/edit">Edit this pet</a>
</div>
<%= form_tag "/pets/#{@pet.id}", method: "delete" do %>
  <input type="submit" value="Edit pet">
<% end %> -->